.footer_social a {
    margin: 0 10px;
    color: #f8f9fa;
    font-size: 18px;
    transition: color 0.3s;
}

.footer_social a:hover {
    color: #ffdd57;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 20px;
}


.footer .row .col-12 p {
    color: #ffffff;
    /* White color for text */
    font-size: 14px;
    margin: 10px 0;
}

.footer .row .col-12 {
    background-color: #241434;
    /* Optional: dark background for contrast */
    padding: 15px 0;
    border-top: 1px solid #444;
    /* Optional: subtle border at the top */
}